.content_list {
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.content_list_items {
    line-height: 40px;
}
  
@keyframes change {
    100% {transform:translate3d(0,0,0);}
    60% {transform:translate3d(0,-120px,0);}
    40% {transform:translate3d(0,-80px,0);}
    20% {transform:translate3d(0,-40px,0);}
}
  
@-webkit-keyframes change {
    100% {transform:translate3d(0,0,0);}
    60% {transform:translate3d(0,-120px,0);}
    40% {transform:translate3d(0,-80px,0);}
    20% {transform:translate3d(0,-40px,0);}
}
  
@-o-keyframes change {
    100% {transform:translate3d(0,0,0);}
    60% {transform:translate3d(0,-120px,0);}
    40% {transform:translate3d(0,-80px,0);}
    20% {transform:translate3d(0,-40px,0);}
}
  
@-moz-keyframes change {
    100% {transform:translate3d(0,0,0);}
    60% {transform:translate3d(0,-120px,0);}
    40% {transform:translate3d(0,-80px,0);}
    20% {transform:translate3d(0,-40px,0);}
}